<html>
   <body>
      
      <form action = "http://localhost:5000/result" method = "POST">
         <p>What is your weekly budget? <input type = "text" name = "user_budget" /></p>
         <p>How many people are you feeding? <input type = "text" name = "user_servings" /></p>
         <p>Monday Selection <input type = "text" name = "mon_meal" /></p>
         <p>Maths <input type ="text" name = "Mathematics" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>