<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<style>
	

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#wrapper {
	position: relative;
	width: 960px;
	min-height: 400px;
	margin: 100px auto;
	color: #000000;
	background-color: rgba(159,159,153,0.30);  /* grey with opacity #p5 {background-color:rgba;}*/
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
	</style>
</head>
<body>
	<body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed="">
<img alt="full screen background image" src="pexels-karolina-grabowska-4199098.jpg" id="full-screen-background-image"> 
<header style="text-align: center; background-color: #138388; margin-left: auto; margin-right: auto; height: 150px; vertical-align: bottom; color: #EBEBEB; ">
	  <h1>Meal Planner and Budget Tracker</h1>
	</header>
<div id="wrapper">
	
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac augue sit amet nisi tempor tincidunt. Vivamus scelerisque in turpis vitae pretium. Cras molestie tellus sed orci pretium, nec pellentesque quam posuere. Proin nec sapien consectetur, dapibus tortor ac, dignissim nisl. Aenean rhoncus elit non ultrices aliquet. Donec auctor enim in urna fermentum, vitae laoreet augue feugiat. Aenean euismod sed lorem ac dictum. Phasellus venenatis id orci non efficitur. Proin consequat feugiat tortor, in consequat erat commodo ut. Aliquam erat volutpat.
	
	
</div>


</body>
</body>
</html>
